/////////////////////////////////////////
// Font Import
/////////////////////////////////////////

@font-face {
  font-family: "FC Iconic";
  src: url("../fonts/FC-Iconic-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "FC Iconic";
  src: url("../fonts/FC-Iconic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FC Iconic";
  font-weight: 500;
  src: url("../fonts/FC-Iconic-Medium.ttf");
}

@font-face {
  font-family: "FC Iconic";
  font-weight: 600;
  src: url("../fonts/FC-Iconic-SemiBold.ttf");
}

@font-face {
  font-family: "FC Iconic";
  font-weight: 700;
  src: url("../fonts/FC-Iconic-Bold.ttf");
}

/////////////////////////////////////////
// Begin
/////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  font-family: "FC Iconic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#__nuxt {
  // overflow-x: hidden;
}

html {
  font-size: 15px;
}

body {
  font-size: 15px;
  overflow: hidden;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #000;
}

body > #__nuxt {
  background: #fff;
}

body.-landing-layout > #__nuxt {
  background: #001811;
}

.container-left {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $md) {
    padding-right: 0;
  }
}

@media (min-width: $md) {
  .container-left {
    margin-right: 0;
    margin-left: calc(50vw - 480px);
  }
}

@media (min-width: 1200px) {
  .container-left {
    margin-right: 0;
    margin-left: calc(50vw - 570px);
  }
}

.container-right {
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: $md) {
    padding-left: 0;
  }
}

@media (min-width: $md) {
  .container-right {
    margin-left: 0;
    margin-right: calc(50vw - 480px);
  }
}

@media (min-width: 1200px) {
  .container-right {
    margin-left: 0;
    margin-right: calc(50vw - 570px);
  }
}

sl-checkbox::part(base) {
  align-items: flex-start;
}

sl-checkbox::part(control) {
  margin-top: 4px;
}

sl-checkbox::part(label) {
  font-family: "FC Iconic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.8 !important;
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.3;
  font-weight: 800 !important;
}

p {
  line-height: 1.8;
}

button {
  font-family: "FC Iconic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

sl-button::part(base) {
  font-family: "FC Iconic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: auto !important;
  line-height: 1 !important;
  padding: 13px 0;

  @media screen and (max-width: $md) {
    // font-size: 13px;
  }
}

sl-button::part(label) {
  padding: 0 32px;
}

sl-button[type="default"]::part(base) {
  background: transparent;
  color: #fff;
  border-color: #fff;
  // padding: 8px 0;
}

sl-button[type="default"]::part(label) {
  color: #fff;
  // padding: 8px 0;
}

sl-button::part(base) {
  border-radius: 5px !important;
}

// sl-button[type='default']::part(label) {
//   padding: 0 16px;
// }

sl-button[type="primary"]::part(base),
.btn-primary {
  box-shadow: 0px 16px 32px rgba(17, 234, 241, 0.2),
    0px 2px 4px rgba(255, 255, 255, 0.03) !important;
}

a {
  font-weight: 700;
  color: #1797ad;
  text-decoration: none;
}

sl-input::part(label),
sl-select::part(label),
form label {
  font-size: 15px;
  line-height: 100%;
  font-weight: bold;
  color: #999999;
  margin-bottom: 8px;
  display: block;
}

sl-alert::part(icon) {
  flex: 0 0 40px;
  justify-content: flex-end;
}

.spinner-enter-active,
.spinner-leave-active {
  transition: opacity 0.25s;
}
.spinner-enter, .spinner-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.max-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content-affix {
  .sidebar-menu {
    a {
      display: flex !important;
      align-items: center;

      &:after {
        content: "";
        width: 0;
        flex: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
        margin-left: 12px;
        transition: 0.3s;
      }

      &.is-active {
        display: flex !important;
        align-items: center;

        &:after {
          width: 100%;
          flex: 1;
          transition: 0.3s;
        }
      }
    }
  }
}

.-w-pagination {
  .c-sliding-pagination__list {
    .c-sliding-pagination__list-element {
      &:first-of-type,
      &:last-of-type {
        opacity: 1 !important;

        a {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        &:before {
          display: none;
        }
      }

      &:first-of-type {
        &:after {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f053" !important;
          color: #fff !important;
        }
      }

      &:last-of-type {
        &:after {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f054" !important;
          color: #fff !important;
        }
      }
    }

    .c-sliding-pagination__list-element--disabled:not(:first-of-type) {
      width: 32px;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      a {
        display: none;
      }
    }
  }
}

.c-sliding-pagination__list {
  display: flex;
  align-items: center;

  .c-sliding-pagination__list-element {
    position: relative;
    background-color: transparent;
    opacity: 0.6;
    transition: 0.4s;

    &--active {
      opacity: 1 !important;
    }

    a {
      font-weight: 500;
    }

    &:hover {
      background-color: transparent;
      opacity: 1 !important;
      transition: 0.4s;
    }
  }
}

.accordion {
  .wysiwyg h1,
  .wysiwyg h2,
  .wysiwyg h3,
  .wysiwyg h4,
  .wysiwyg h5,
  .wysiwyg p,
  .wysiwyg li,
  .wysiwyg span {
    color: #666 !important;
  }

  // .wysiwyg {
  //   h1,
  //   h2,
  //   h3,
  //   h4,
  //   h5,
  //   h6 {
  //     color: #000 !important;
  //   }

  //   p {
  //     color: #666 !important;
  //   }

  //   li {
  //     color: #666 !important;
  //   }
  // }
}

.alert {
  .icon {
    padding-left: 8px;
    padding-right: 20px;
  }

  font-size: 0.94rem;
}

.toast-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.helper-text {
  color: #999999;
}

.chongjaroen-alert {
  & .swal2-icon.swal2-error.custom-class-icon, .swal2-html-container .swal2-icon.swal2-error.custom-class-icon {
    background-color: #cb2731;
    border: none;
    &.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
      background-color: #ffffff;
      width: 30px;
      top: 35px;
      left: 23px;
    }
  }

  & .swal2-icon.swal2-success.custom-class-icon, .swal2-html-container .swal2-icon.swal2-success.custom-class-icon {
    background-color: #76D650;
    border: none;
    .swal2-success-ring {
      top: 0;
      left: 0;
      border: none;
    };
    .swal2-success-line-tip {
      top: 40px;
      left: 22px;
      width: 15px;
      background-color: #ffffff;
    };
    .swal2-success-line-long {
      top: 35px;
      right: 17px;
      width: 30px;
      background-color: #fff;
    };


    &.swal2-icon.swal2-success [class^="swal2-x-mark-line"] {
      background-color: #ffffff;
      width: 30px;
      top: 35px;
      left: 23px;
    }
  }

  & .swal2-actions button {
    min-width: 70px;
  }

  .payment-result {
    &.swal2-popup {
      border-top: 5px solid #1797AD;
    }
    
    .swal2-html-container {
      .result-title {
        position: relative;

        &:after{
          content: '';
          position: absolute;
          top: 25px;
          left: 144.5px;
          display: inline-block;
          height: 1em;
          width: 32px;
          border-bottom: 3px solid #1797AD;
        }
      }
      .swal2-icon {
        margin: 3em auto 1.5em;
        width: 75px;
        height: 75px;
      }
    }

    .swal2-actions {
      margin: 1.25em 2.15em 0px 2.15em;
    }

    .swal2-styled.swal2-confirm {
      width: 100%;
    }

    .swal2-styled.swal2-cancel {
      width: 100%;
      color: #999999;
      background-color: transparent;
    }
  }

}

// .toast {
//   font-size: 1rem;
// }
