$sm: 800px;
$md: 995px;
$lg: 1200px;

// Colours
$primary-color: #1a7a89;
$warning-color: #fbbf24;
$success-color: #1eaf7f;
$error-color: #bd2a34;
$cl-gray: #929292;
$bg-gray: #f7fafc;
$bg-dark-gray: #ebf1f6;

// Text
$heading-text-color: #272838;
$paragraph-text-color: #7b7e9a;
$label-text-color: #9093b2;

// Card
$card-shadow: 0 1px 4px 0 rgba(44, 75, 169, 0.1),
  0 3px 8px 0 rgba(44, 75, 169, 0.1);
$card-border-color: #d9e5ef;

// Input
$input-border-color: #999bb8;
